@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/*loader*/
#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    background-color:#088178;
}
.container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper {
    position: absolute;
    top: -35px;
    transform: scale(1.5);
}
.outer .circle {
    top: 30px;
    height: 7px;
    width: 7px;
    background: white;
    border-radius: 50%;
    position: relative;
}
.text {
    position: absolute;
    bottom: -85px;
    font-size: 25px;
    font-weight: 400;
    font-family: system-ui;
    color: white;
}
.outer {
    height: 25px;
    width: 1px;
    position: absolute;
    animation: rotate 3.5s linear infinite;
}
@keyframes rotate {
    30% {transform: rotate(220deg);}
    40% {transform: rotate(450deg);}
    75% {transform: rotate(720deg); opacity: 1;}
    76% {opacity: 0;}
    100% {opacity: 0; transform: rotate(0deg);}
}
.outer:nth-child(1) {animation-delay: 0.15s;}
.outer:nth-child(2) {animation-delay: 0.3s;}
.outer:nth-child(3) {animation-delay: 0.45s;}
.outer:nth-child(4) {animation-delay: 0.6s;}
.outer:nth-child(5) {animation-delay: 0.75s;}
.outer:nth-child(6) {animation-delay: 0.9s;} 

@media (min-width: 481px) and (max-width: 1024px) {
    .text {
        font-size: 20px;
        font-weight: 400;
    }

    .wrapper {
        transform: scale(1.25);
    }

    .outer .circle {
        height: 6px;
        width: 6px;
    }

    .outer {
        height: 22px;
        width: 1px;
    }
}


@media (max-width: 480px) {
    .text {
        font-size: 15px;
        font-weight: 400;
        bottom: -40px;
    }

    .wrapper {
        transform: scale(1);
    }

    .outer .circle {
        height: 5px;
        width: 5px;
    }

    .outer {
        height: 20px;
        width: 1px;
    }
}

   /* home page */

/*header*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15 60px;
    background: #e3e6f3;
    box-shadow: 0px 5px 15px  rgba(0,0,0,0.6);
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
}
#header .logo{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
    left:60px;
    color: black;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
}
#navbar li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#navbar #lgbag{
    position: relative;
    display: flex;
    cursor: pointer;
    font-size: 18px;
    height: 25px;
    width: 25px;
}
#navbar #lgbag .cart-item-count{
    position: absolute;
    top: -5px;
    right: 0px;
    width: 15px;
    height: 15px;
    background: #e35f26;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
#bar:hover{
    cursor: pointer;
    color: #088178;
}

#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#mobile #mgbag{
    display: flex;
    position: relative;
}
#mobile #mgbag .cart-item-count1{
    height: 13px;
    width: 13px;
    background: #e35f26;
    z-index: 2;
    position: absolute;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 600;
    left: 8px;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    visibility: hidden;
}

@media(max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 250px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.6);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        z-index: 4;
    }
    #navbar.active{
        right:0px;
    }
    #header .logo{
        font-size: 24px;
        left: 30px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 16px;
        padding-right: 20px;

    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #close:hover{
        color: #088178;
        cursor: pointer;
    }
    #mobile a i:hover{
        color:#088178;
    }
}


/* glide */
.hero, .hero .glide__slides {
    background-color: #e3e6f3;
    height: calc(100vh - 6rem);
    margin: 0;
    overflow: hidden;
}

.hero .center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    padding-top: 3rem;
}

.hero .left {
    position: absolute;
    top: 0;
    left: 40px;
    opacity: 1;
    transition: all 1000ms ease-in-out;
}

.hero .left h1 {
    font-size: 5rem;
    margin: 0rem 0;
    color: #088178;
}

.hero .left p {
    font-size: 1.6rem;
    margin: 0 0 1rem;
}

.left .show_now {
    display: inline-block;
    position: relative;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 7px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1rem;
    background-color:transparent;
    color:black;
    text-decoration: none;
    border: 2px solid black;
}
.show_now:hover{
    border: none;
    color: white;
    background-color:#088178 ;
    cursor: pointer;
}
.hero .right {
    flex: 0 0 50%;
    height: 100%;
    position: relative;
    text-align: center;
}

.hero .right img {
    position: absolute;
    width: 45rem;
    opacity: 0;
    transition: all 1000ms ease-in-out;
}

.hero .right img.img1 {
    width: 65%;
    right: -25%;
    bottom: -50%;
    right: -250px;
}

.hero .right img.img2 {
    width: 70%;
    height: 100%;
    right: -40%;
    bottom: -40%;
}

.glide__slide--active .center .right img {
    bottom: -3%;
    opacity: 1;
}

.glide__slide--active .left {
    opacity: 1;
    top: 30%;
}
span{
    font-size: 2rem;
}

@media (max-width:1440px){
    .hero .right img.img1 {
        width: 80%;
        right: -45%;
        height: 600px;
    }
}
@media (max-width:999px){
    .glide__slide--active .left {
        top: 15%;
    }
    .hero .right img.img1 {
        width: 80%;
        right: -45%;
        height: 600px;
    }
    
    .hero .right img.img2 {
        width: 80%;
        height: 600px;
        right: 20;
    }
    .hero .left h1{
        font-size: 2.5rem;
    }
}

@media (max-width:750px){
    .center .right img.img1{
        width: 30rem;
    }
    .center .right img.img2{
        width: 33rem;
    }
    .hero, .hero .glide__slide{
        margin: 0;
        padding: 0;
    }
    .hero .left h1{
        font-size: 2rem;
    }
    .hero .left span{
        font-size: 1.4rem;
    }
    .hero .left p{
        font-size: 1rem;
        width: 80%;
    }
    .hero .right img.img1 {
        width: 90%;
        height: 60%;
        right: -100px;
    }
    
    .hero .right img.img2 {
        width: 90%;
        height: 60%;
        right: 20;
    }

}

/* shop page */

#lens{
    padding-left: 8px;
}

.shop{
    padding: 50px 40px 40px 40px;
}
.section-title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}
.product-content{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
   gap: 20px;
}
.shop h1{
    margin:40px;
}

.product-box .img-box{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.img-box img{
    width: 100%;
    transition: 0.5s;
}
.img-box:hover img{
    transform: scale(1.1);
}

.product-title{
    font-size: 20px;
    margin-top: 10px;
}
.price-and-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-and-cart span{
    font-size: 16px;
    font-weight: 500;
}
.price-and-cart .add-cart{
    padding: 10px;
    background: #03b1a6;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.price-and-cart .add-cart:hover{
    transform: scale(1.1);
}
#lgbag:hover{
    color: #088178;
}
#mgbag i:hover{
    color: #088178;
    cursor: pointer;
}
#lgbag:hover::after{
    content: "";
    width: 50%;
    height:2px;
    background: #088178;
    position: absolute;
    bottom: -3px;
    left: 0x;
}

/* cart */
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 360px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 10px rgba(0,0,0,0.6);
    padding: 65px 20px 40px;
    overflow: auto;
    transition: 0.5s ease-in-out;
    border-radius: 10px 0 0 10px;
}

.cart.active{
    right: 0;
}
.cart-title{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cart-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cart-box img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
}
.cart-detail{
    display: grid;
    gap: 8px;
    margin-right: auto;
}
.cart-product-title{
    font-size: 16px;
    line-height: 1;
}
.cart-price{
    font-weight: 500;
    font-size: 16px;
}
.cart-quantity{
    display: flex;
    width: 100px;
    border: 1px solid #999;
    border-radius: 6px;
}
.cart-quantity button{
    background: transparent;
    width: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.cart-quantity #decrement,
.cart-quantity #increment{
    color: #999;
}
.cart-quantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 16px;
    height: 20px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
}
.cart-remove{
    font-size: 25px;
    cursor: pointer;
    color: #999;
}
.cart-remove:hover{
    color: #333;
    transform: scale(1.1);
}
.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    font-size: 18px;
}
.total-price{
    margin-left:10px;
    font-weight: 600;
}
.btn-buy{
    display: block;
    padding: 10px 30px;
    background: #088178;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin: 20px auto 0;
    cursor: pointer;
}
#cart-close{
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 25px;
    cursor: pointer;
}
#cart-close:hover{
    color: #333;
    transform: scale(1.1);
}
@media (max-width: 599px){
    .cart{
        width: 250px;
    }
}

/* search */


#search{
    width: 60px;
    height: 40px;
    border-radius: 50px;
    background:white;
    display: flex;
    position: relative;
    transition: 0.5s;
    transform: translate(-50%, -50%);
    top: 80px;
    left: 50%;
    margin-bottom: 40px;
    opacity: -1;
    overflow: hidden;
    border: 1px solid black;
}
#search.active{
    width: 360px;
    opacity: 1;
}
#search .input{
    position: relative;
    width: 300px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    outline: none;
    border-radius: 50px 0 0 50px;
    margin-left: 30px;
}
#search .input .clear{
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 1rem;
    color: black;
}


@media (min-width: 600px) and (max-width: 899px) {
    
    #search {
        width: 10%; 
        left: 50%; 
    }
    #search .input input{
        width: 70%;
        left: 0px;
        margin-left: 15px;
    }
    }

    
@media (max-width: 599px) {

    #search {
        width: 10%; 
        left: 51%; 
    }

    #search.active{
        width: 55%;
    }
    #search .input input {
        width: 100%; 
        margin-left: 15px; 
        left: 5px;
    }
    #search .input .clear{
        margin-right: 45px;
    }

}

/* footer */
.footlogo{
    padding-left: 40px;
    font-size: 25px;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
footer .col2,.col3{
    display: flex;
    flex-direction: column;
}

footer .p{
    font-size: 13px;
    margin: 0 0 8px 0;
    color: #222;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    padding-bottom: 8px;
}
footer .col4 .row i{
    font-size: 25px;
    padding: 10px 15px 10px 0;
    color: #222;
}
footer .col1 .icon i{
    font-size: 20px;
    padding-right: 8px;
    color: #222;
}
footer .col4 .row i:hover,
footer .col1 .icon i:hover,
footer a:hover{
    color:cadetblue;
    cursor: pointer;
}

footer .col1 h4,.col2 h4,.col3 h4,.col4 h4{
  padding-bottom: 15px;
  font-size: 16px;
  color: #088178;
}

#pagination{
    text-align: center;
    margin-bottom: 55px;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600px;
}
#pagination a i{
    font-size: 13px;
}

/* newsletter */

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0;
    background-color: #041e42;
    padding: 35px;
}
#newsletter .sign{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newsletter .p2,.offer{
    font-size:14px ;
    font-weight: 600px;
    color: #818ea0;
}
#newsletter .offer{
    color: #e35f26;
}

#newsletter input{
    height: 3rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border:1px solid transparent;
    border-radius: 4px 0 0 4px;
    outline: none;
}
#newsletter .normal,
#form-details form .normal,
#cart-add #coupon .normal,
#total .normal{
    background:#088178;
    color: white;
    height: 3rem;
    width: 100px;
    border:1px solid transparent;
    border-radius:0 4px 4px 0;
    outline: none;
}
#newsletter .form{
    display: flex;
    width: 40%;

}


@media (min-width: 600px) and (max-width: 899px) {
    footer {
        flex-direction: row;  
        justify-content: space-between;     
        margin: 20px;            
    }
    footer .col1,  .col2,  .col3, .col4 {
        width: 100%;            
        margin-bottom: 0px;     
    }
    footer .footlogo {
        font-size: 22px;         
        padding-left: 0;
                  
    }
    footer h4 {
        font-size: 18px;         
    }
}

@media (max-width: 599px) {
    footer {
        flex-direction: column;  
        margin: 20px;            
    }
    footer .footlogo {
        font-size: 20px;         
    }
    footer .col1 h4, .col2 h4, .col3 h4,  .col4 h4 {
        font-size: 16px;        
    }
    footer .p {
        font-size: 12px;       
    }
    footer a {
        font-size: 12px;        
    }
    footer .col1, .col4 {
        width: 100%;            
        align-items: center;     
    }
    footer .col1, .col2 ,.col3,.col4{
        margin-top: 15px;
    }
    footer .col4 .row i {
        font-size: 20px;       
    }
    #newsletter .form{
        margin-top: 8px;
    }
}


/* about page */
#about_header{
    background-image: url(img/b1.jpg);
    width: 100%;
    height: 36vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#about_header h2{
       color: #e3e6f3;
       font-size: 2rem;
}
#about_header p{
    color: #e3e6f3;
    font-size: 1rem;
}
#about-head img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
#about-head {
    display: flex;
    align-items: center;
    margin: 40px 0 0 0;
}
#about-head h2{
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
    margin: 15px 0;
}
#about-head .about{
    font-size: 2rem;
    font-weight: 600;
    color: #088178;
    padding-bottom: 15px;
    text-decoration: underline;
}
#about-head div{
    padding: 20px;
}

#about-head p{
    font-size: 15px;
}
#about-head p span{
    font-size: 1.3rem;
    font-weight: 500;
    color:#222;
}

#about-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;

}
#about-app .video{
    width: 60%;
    height: 100%;
    margin: 30px;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px; 
}

@media (max-width: 799px){
    #about-head{
        flex-direction: column;
        padding: 20px;
    }
    #about_header{
        height: 21vh;
    }
    #about-app .video{
        width: 100%;
    }
}


/* contact page */

#about_header1{
    background-image: url(img/banner.png);
    width: 100%;
    height: 36vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#about_header1 h2{
    color: #e3e6f3;
    font-size: 2rem;
}
#about_header1 p{
 color: #e3e6f3;
 font-size: 1rem;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span{
    font-size: 14px;
    color: #818ea0;
}
#contact-details .details h2{
    font-size: 22px;
    line-height: 35px;
    padding: 20px 0;
    color:#222;
}
#contact-details .details h3{
    font-size: 1rem;
    color: #222;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
    color: #606063;
}
#contact-details .details li p{
    padding-left: 15px;
    color: #606063;
    font-size: 14px;
}
#contact-details .map{
    width: 50%;
    height: 500px;
    
}
#contact-details .map h2{
    font-size: 22px;
    line-height: 35px;
    padding-bottom: 20px ;
    color:#222;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    padding: 40px;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details span{
    font-size: 14px;
    color: #818ea0;
    margin-bottom: 10px;
}
#form-details h2{
    font-size: 22px;
    color:#222;
    margin-bottom: 20px;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form .normal,
#cart-add #coupon .normal{
      border-radius: 5px;
      height: 40px;
}

@media (max-width: 799px){
    #form-details form{
        width: 50%;
    }
    #about_header1{
        height: 21vh;
    }
}

@media (max-width:599px){
    #contact-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map{
        width: 100%;
        height: 400px;
    }
    #form-details form{
        width: 100%;
    }
}


/* product details */

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 100px;    
}
.small-img-group{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;
}
.small-img-col{
    flex-basis: 34%;
    cursor: pointer;
}

#prodetails{
    margin: 40px 40px 0px 40px;
    display: flex;
}
#prodetails .single-pro-details{
    padding-top: 40px;
    line-height: 30px;
}
.single-pro-details h6{
    font-size: 25px;
    color: #999;
}
.single-pro-details h4{
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: #1a1a1a;
}
.single-pro-details h3{
    margin-top: 10px;
}
.single-pro-details h1{
    margin-top: 15px;
    color: #088178;
}
.single-pro-details h2{
    font-size: 18px;
    padding-bottom: 10px;
    color: #333;
}
.single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin: 0px 0px 10px 0px;
}
.single-pro-details input{
    width: 50px;
    height: 27px;
    padding-left: 10px;
    font-size: 1rem;
    margin-right: 10px;
}
.single-pro-details input:focus{
    outline: none;
}

.single-pro-details button{
    width: 8rem;
    height: 27px;
    background: #088178;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

@media (max-width: 799px){
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
}